
import java.util.Stack;
public class Main {

    public static void main(String[] args) {
     
        
      Stack<String> stack = new Stack<String>();  
      
      stack.push("FIFA23");
      stack.push("Call of Duty Balck Ops Cold war");
      stack.push("Farcry Primal");
      stack.push("Valorant");
      stack.push("Cricket 24");
      String ThingstoPick = stack.peek();
        System.out.println(stack);
        System.out.println(ThingstoPick);
      
        System.out.println("The position is " +stack.search("Valorant"));
        
        System.out.println("The position is " +stack.search("GTA V"));
        System.out.println("If the stack is not empty than it will return ");
        System.out.println(stack.empty());
    }
}
